header{
    
    background-color: aqua;

}
.PrimerSeccion{ 
background-color: rgb(218, 60, 60);

}

.SegundoSeccion{

    background-color: blue;
}

.TercerSeccion{ 
background-color: coral;

}

.CuartaSeccion{
background-color: aqua;


}