@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{ 
    margin: 0 ;
    padding:0 ;
    font-family: 'Roboto', sans-serif;


}
/* limpieza de propiedades*/ 


a{ text-decoration: none;
    color: black;


}



header{
    
    background-color: rgb(0, 0, 0);
    padding: 12px;
    display: flex;
    justify-content: space-evenly
}

/* Contenedores principales*/

.navcolor{
    color: rgb(255, 255, 255);
}

body{
    
    background-color: black;

    }

.PrimerSeccion{ 
    display: flex;

    background-color: rgb(218, 60, 60);
    

}

.SegundoSeccion{

    background-color: blue;
    display: grid;
}

.TercerSeccion{ 
background-color: coral;

}

.CuartaSeccion{
background-color: aqua;


}

.QuintaSeccion{
    background-color: brown;


}

.sextaSeccion{
    background-color: chartreuse;


}

.SeptimaSeccion{
    background-color: darkorange;


}

.OctavaSeccion{
    background-color: aquamarine;


}

.NovenaSeccion{
background-color: blue;

}

/* Sub contenedores*/

.Primerdivprimerseccion{
    display: flex;


}

.probandocolor {
    background-color: blue;
}

.tamañoiconos { 
    width:;
    height: 16px;


}

.tamañoasterisco {
    height: 40px;
    transform: rotate(90deg);
}